{% extends('base.html.twig') %}

{% block title %}{{ parent() }} | Home{% endblock %}
{% block body %}
    <h1>Bonjour</h1>
    <h2> Ceci est un rojet présenté dans les cours vidéos sur Symfony5 à l'ENI.</h2>

{% endblock %}

{% block footer %} {% endblock %}