{% extends 'base.html.twig' %}

{% block title %}
    The beste series |{{ parent() }}
{% endblock %}

{% block body %}
    <section>
        todo: afficher les series!
    </section>
{% endblock %}

{% block footer %}

{% endblock %}



