<!doctype html>
<html lang="fr">
    {% include('inc/head.html.twig') %}
<body>
<header>
    {% include('inc/nav.html.twig') %}

</header>

<main>
    {% block body %}

    {% endblock %}
</main>

<footer>
    {% block footer %}
    <div>
        &copy; Series!{{ "now"|date("Y") }}
    </div>
    {% endblock %}
</footer>


</body>
</html>
