<!doctype html>
<html lang="fr">
    {% include('inc/head.html.twig') %}
<body>
<div class="container">
<header>
    <h1><a href="{{ path('main_home') }}"><img src="{{ asset('img/logo.svg') }}" alt="Series!"></a></h1>
    {% include('inc/nav.html.twig') %}
</header>

    {# read and display all flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

<main>
    {% block body %}

    {% endblock %}
</main>

<footer>
    {% block footer %}

        {% include('inc/footer.html.twig') %}

    {% endblock %}
</footer>
</div>


</body>
</html>
