<!doctype html>
<html lang="fr">
    {% include('inc/head.html.twig') %}
<body>
<header>
    {% include('inc/nav.html.twig') %}

</header>

<main>
    {% block body %}

    {% endblock %}
</main>

<footer>
    {% block footer %}

        {% include('inc/footer.html.twig') %}

    {% endblock %}
</footer>


</body>
</html>
